/* CSS Reset */

/* Reset box-sizing to border-box */
*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Remove default margin and padding */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
	margin: 0;
	padding: 0;
}

button,
a {
	cursor: pointer;
	outline-offset: 0px;
}

/* Remove list styles */
ol,
ul {
	list-style: none;
}

/* Remove default anchor styles */
a {
	text-decoration: none;
	color: inherit;
}

/* Reset font styles */
body {
	font-size: 16px;
	line-height: 1.5;
}

/* Reset heading styles */
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: normal;
}

/* Reset form styles */
input,
textarea,
button {
	font-family: inherit;
}

/* Design tokens */

:root {
	/* Colors */
	--color-primary: #bf3632;
	--color-secondary: #f2f2f2;
	--color-tertiary: #221e26;
	/* Spacing */
	--grid-1: 4px;
	--grid-2: 8px;
	--grid-3: 12px;
	--grid-4: 16px;
	--grid-6: 24px;
	--grid-8: 32px;
	--grid-10: 40px;
	--grid-12: 48px;
	--grid-14: 56px;
	/** Other */
	--window-width: min(1440px, 90vw);
}

:root {
	--bg-primary: #edeef6;
	--fg-primary: #221e26;
	--color: #bf3632;
}

/* @media (prefers-color-scheme: dark) {
	:root {
		--bg-primary: #221e26;
		--fg-primary: #edeef6;
		--color: var(--d-color);
	}
} */

@font-face {
	font-family: 'MomsTypewriter';
	src: url('fonts/MomsTypewriter.ttf');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'OceansideTypewriter';
	src: url('fonts/fons/OceansideTypewriter.ttf');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'OldNewspaperTypes';
	src: url('fonts/OldNewspaperTypes.ttf');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'BambiHandwritten';
	src: url('fonts/BambiHandwritten.ttf');
	font-weight: normal;
	font-style: normal;
}

/* Global styles */
body {
	background-color: var(--bg-primary);
	color: var(--fg-primary);
	accent-color: var(--color);
	font-family: OldNewspaperTypes, serif;
	font-size: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: OldNewspaperTypes, serif;
}

button {
	border: none;
	background-color: transparent;
	font-size: inherit;
	cursor: pointer;
}

a[target] {
	color: #284283;
	text-decoration: underline;
}
